<h1 class="center">Liste de Pokémons</h1>
<div class="container">
  <p>Rechercher dans la liste:</p>
  <input
    #input
    (keyup.enter)="selectPokemon(input.value)"
    type="number"
  />
  <p *ngIf="pokemonSelected">
    Vous avez sélectionné {{ pokemonSelected?.name }}
  </p>
  <p *ngIf="!pokemonSelected">
    Aucun pokémon trouvé!
  </p>
  <div class="row">
    <div *ngFor="let pokemon of pokemonList" class="col m4 s6">
      <div class="card horizontal" pkmnBorderCard>
        <div class="card-image">
          <img [src]="pokemon.picture" alt="Image du pokémon"/>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>{{ pokemon.name }}</p>
            <p><small>{{ pokemon.created }}</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
